<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>addr</key>
		<string>北京市朝阳区小红门中街1号</string>
		<key>bus</key>
		<string>乘密云-大兴专线、运通202、524、655、680、723、732、750、927、985支1路到小红门路口北站下车；352路小红门站下车</string>
		<key>cityName</key>
		<string>朝阳区</string>
		<key>hosLink</key>
		<string></string>
		<key>hosName</key>
		<string>北京市朝阳区小红门医院</string>
		<key>id</key>
		<string>5a6ecd1a76d202fb92aee0d3</string>
		<key>img</key>
		<string>http://app1.showapi.com/hospital/20180129/9202d9dc-c0de-409e-8443-cb3edcb2029a.jpg</string>
		<key>info</key>
		<string>    小红门医院位于朝阳小红门中街382号，紧邻南四环，院内共有各级专业技术人员40余人，是一家非营利性全民所有制的一级甲等综合性医院，同时被北京市基本医疗保险定为定点医疗机构。         医院目前承担着辖区内的预防、保健、医疗、计划生育等各项医疗任务，针对地区内不同患者的需求，先后开设了内科、外科、妇科、妇保、儿保、眼科、口腔科、中医科、肛肠科等。近年来，医院推行“服务质量、服务态度”的双优活动，坚持一切以病人为中心，增加医疗透明度，药品实行招标采购，降低成本，让利于患者，同时不断治理就医环境，营造良好的服务氛围，为前来我院就诊的患者提供便捷、高效的医疗服务。</string>
		<key>keshi</key>
		<string>内科;外科;肛肠科;妇科;妇保;儿保;眼科;口腔科;中医科;眼科;口腔科;中医科;</string>
		<key>level</key>
		<string>一级甲等</string>
		<key>provinceName</key>
		<string>北京市</string>
		<key>tele</key>
		<string>010-87602034</string>
		<key>tsks</key>
		<string></string>
		<key>type</key>
		<string>综合医院</string>
		<key>zzjb</key>
		<string></string>
	</dict>
	<dict>
		<key>addr</key>
		<string>北京市朝阳区安华西二区11楼</string>
		<key>bus</key>
		<string>乘18、104、108、300、302、328、358、803、特2路安贞里下</string>
		<key>cityName</key>
		<string>朝阳区</string>
		<key>hosLink</key>
		<string></string>
		<key>hosName</key>
		<string>北京市朝阳区安华医院</string>
		<key>id</key>
		<string>5a6ecd1a76d202fb92aee0d4</string>
		<key>img</key>
		<string>http://app1.showapi.com/hospital/20180129/5616561d-6d3a-4241-a245-44c31da713fc.jpg</string>
		<key>info</key>
		<string>    北京市朝阳区安华医院位于北京市朝阳区安华西二区11楼，是一所一级甲等综合医院。医院建立于2006年，现有30个床位，年门诊量达61320次。</string>
		<key>keshi</key>
		<string>内科;外科;妇产科;</string>
		<key>level</key>
		<string>一级甲等</string>
		<key>provinceName</key>
		<string>北京市</string>
		<key>tele</key>
		<string>010-64234017</string>
		<key>tsks</key>
		<string></string>
		<key>type</key>
		<string>综合医院</string>
		<key>zzjb</key>
		<string></string>
	</dict>
	<dict>
		<key>addr</key>
		<string>北京市朝阳区楼梓庄中心街104号</string>
		<key>bus</key>
		<string>乘364、488、502、758路到东小井下车</string>
		<key>cityName</key>
		<string>朝阳区</string>
		<key>hosLink</key>
		<string></string>
		<key>hosName</key>
		<string>北京市朝阳区楼梓庄医院</string>
		<key>id</key>
		<string>5a6ecd1a76d202fb92aee0d8</string>
		<key>img</key>
		<string>http://app1.showapi.com/hospital/hos_default.jpg</string>
		<key>info</key>
		<string>    北京市朝阳区楼梓庄医院是一所集医疗、预防、保健、康复为一体的一级甲等医院，是首批被认定的大病统筹和医疗保险定点医疗机构。医院占地面积6000多平方米，是经过几十年艰苦创业发展而成的拥有内科、外科、中医科、妇产科、口腔科、放射科、检验科及配套设施齐备平战结合的隔离病区等诸多科室的综合性医院。　　   北京市朝阳区楼梓庄医院拥有多位经验丰富的临床专家（特聘朝阳区第二医院）及众多优秀的中青年医疗骨干和现代化的管理及医疗设施，辅以优雅舒适的就医环境（宽敞的停车场、古色古香的休息凉亭，配有电视、空调、饮水机等服务设施的住院病房）。为临床准确的诊断和治疗提供了有利的硬、软件设施。我院特别对糖尿病、心脑血管疾病和各型肾病有独特医疗手段。　　   北京市朝阳区楼梓庄医院将以良好的医德、严谨的医风、高超的技术、科学的管理。合理的收费，坚持“患者满是我们工作第一标准”的服务准则，竭诚为广大就医患者提供全程、优质的服务。</string>
		<key>keshi</key>
		<string>内科;外科;妇产科;中医科;口腔科;检验科;放射科;中医科;口腔科;检验科;放射科;</string>
		<key>level</key>
		<string>一级甲等</string>
		<key>provinceName</key>
		<string>北京市</string>
		<key>tele</key>
		<string>010-84317826(总)</string>
		<key>tsks</key>
		<string></string>
		<key>type</key>
		<string>综合医院</string>
		<key>zzjb</key>
		<string></string>
	</dict>
	<dict>
		<key>addr</key>
		<string>北京市朝阳区姚家园</string>
		<key>bus</key>
		<string>乘494路到姚家园南，下车步行；468、499、运通111线到万杰医院，下车步行283米</string>
		<key>cityName</key>
		<string>朝阳区</string>
		<key>hosLink</key>
		<string></string>
		<key>hosName</key>
		<string>铁道部第十六工程局中心医院</string>
		<key>id</key>
		<string>5a6ecd1a76d202fb92aee0d9</string>
		<key>img</key>
		<string>http://app1.showapi.com/hospital/20180129/633941e0-4889-4d64-8f0a-b8b6b763c476.jpg</string>
		<key>info</key>
		<string>     铁道部第十六工程局中心医院建立于1954年，是一所国营医院，位于北京市朝阳区。该院拥有100位病床，年门诊量达62050。</string>
		<key>keshi</key>
		<string>内科;外科;儿科;妇产科;</string>
		<key>level</key>
		<string>一级甲等</string>
		<key>provinceName</key>
		<string>北京市</string>
		<key>tele</key>
		<string>010-69448076、65017139</string>
		<key>tsks</key>
		<string></string>
		<key>type</key>
		<string>综合医院</string>
		<key>zzjb</key>
		<string></string>
	</dict>
	<dict>
		<key>addr</key>
		<string>北京市朝阳区王四营路大柳树153号</string>
		<key>bus</key>
		<string></string>
		<key>cityName</key>
		<string>朝阳区</string>
		<key>hosLink</key>
		<string></string>
		<key>hosName</key>
		<string>北京市朝阳区大柳树医院</string>
		<key>id</key>
		<string>5a6ecd1c76d202fb92aee0e6</string>
		<key>img</key>
		<string>http://app1.showapi.com/hospital/20180129/332ec79a-b989-4c76-afb4-9c24e4537d08.jpg</string>
		<key>info</key>
		<string>    北京市朝阳区大柳树医院坐落于北京市朝阳区的医疗保险定点综合医院。特色专科：精神病专科。</string>
		<key>keshi</key>
		<string>内科;外科;妇产科;精神病科;精神病科;</string>
		<key>level</key>
		<string>一级乙等</string>
		<key>provinceName</key>
		<string>北京市</string>
		<key>tele</key>
		<string>010-67364412</string>
		<key>tsks</key>
		<string></string>
		<key>type</key>
		<string>综合医院</string>
		<key>zzjb</key>
		<string></string>
	</dict>
	<dict>
		<key>addr</key>
		<string>北京市垡头金蝉北里19号楼</string>
		<key>bus</key>
		<string>乘348、907、913路垡头下</string>
		<key>cityName</key>
		<string>朝阳区</string>
		<key>hosLink</key>
		<string></string>
		<key>hosName</key>
		<string>北京市朝阳区化工路医院</string>
		<key>id</key>
		<string>5a6ecd1676d202fb92aee0b3</string>
		<key>img</key>
		<string>http://app1.showapi.com/hospital/20180129/e14cde89-2fa3-4371-95a1-5508672b7f79.jpg</string>
		<key>info</key>
		<string>    化工路医院隶属朝阳区卫生局，是一所新建成的一级综合医院，是第一批进入我市基本医疗保险的定点医疗机构。医院地处朝阳区东南角，座落于垡头小区内。医院设有诊疗科室20个，病床30张，新购进万元以上仪器设备30多件，设有集中供氧、吸引、吊杆输液等设施。现有职工51人，其中高级职称3人，中级职称7人；硕士研究生1人，大本生10人，大专生18人。聘请内科、外科、中医科、口腔科、理疗科专家8人。   医院门诊各科开展普通病，常见病的预防诊疗；病房收治内科、外科病住院患者；手术室开展一般外科、骨科、眼科、耳鼻喉科小手术；口腔、检验、放射、理疗、功能科、病房均拥有先进的检查和治疗设备，开设项目齐全，满足病人的需要。医院以“服务、质量、价格”三个形象建设为主题，全心全意为患者服务，受到当地老百姓的认可。 </string>
		<key>keshi</key>
		<string>内科;外科;眼科;耳鼻喉科;骨科;口腔科;检验科;放射科;理疗科;眼科;耳鼻喉科;口腔科;骨科;检验科;放射科;理疗科;</string>
		<key>level</key>
		<string>一级甲等</string>
		<key>provinceName</key>
		<string>北京市</string>
		<key>tele</key>
		<string>010-67383282、67367739、67377239</string>
		<key>tsks</key>
		<string></string>
		<key>type</key>
		<string>综合医院</string>
		<key>zzjb</key>
		<string></string>
	</dict>
	<dict>
		<key>addr</key>
		<string>北京市朝阳区德外苇子坑安翔北里10号</string>
		<key>bus</key>
		<string>乘315、345路苇子坑站下车或306医院站下车400米即到。</string>
		<key>cityName</key>
		<string>朝阳区</string>
		<key>hosLink</key>
		<string></string>
		<key>hosName</key>
		<string>中国人民解放军总装备部后勤部中医骨伤科医院</string>
		<key>id</key>
		<string>5a6ecd1676d202fb92aee0b8</string>
		<key>img</key>
		<string>http://app1.showapi.com/hospital/hos_default.jpg</string>
		<key>info</key>
		<string>  　　中国人民解放军总装备部后勤部中医骨伤科医坐落于北京市朝阳区德外苇子坑安翔北里10号，是一级甲等专科医院。</string>
		<key>keshi</key>
		<string>内科;外科;骨科;骨科;</string>
		<key>level</key>
		<string>一级甲等</string>
		<key>provinceName</key>
		<string>北京市</string>
		<key>tele</key>
		<string>010-66355602</string>
		<key>tsks</key>
		<string></string>
		<key>type</key>
		<string>骨伤医院</string>
		<key>zzjb</key>
		<string></string>
	</dict>
	<dict>
		<key>addr</key>
		<string>朝阳区南郎家园19号</string>
		<key>bus</key>
		<string></string>
		<key>cityName</key>
		<string>朝阳区</string>
		<key>hosLink</key>
		<string></string>
		<key>hosName</key>
		<string>航空工业中心第二门诊部</string>
		<key>id</key>
		<string>5a6ecd1776d202fb92aee0ba</string>
		<key>img</key>
		<string>http://app1.showapi.com/hospital/hos_default.jpg</string>
		<key>info</key>
		<string>    航空工业中心第二门诊部耳鼻喉科以治疗慢性咽炎为主的。采用中医特色疗法“翻耕点治”。治疗慢性咽炎，临床治愈率98％。该疗法已经列为国家中医药管理局的推广项目。</string>
		<key>keshi</key>
		<string></string>
		<key>level</key>
		<string>一级甲等</string>
		<key>provinceName</key>
		<string>北京市</string>
		<key>tele</key>
		<string>010--85896288</string>
		<key>tsks</key>
		<string></string>
		<key>type</key>
		<string>综合医院</string>
		<key>zzjb</key>
		<string></string>
	</dict>
	<dict>
		<key>addr</key>
		<string>北京市朝阳区豆各庄乡</string>
		<key>bus</key>
		<string></string>
		<key>cityName</key>
		<string>朝阳区</string>
		<key>hosLink</key>
		<string></string>
		<key>hosName</key>
		<string>北京市朝阳区豆各庄医院</string>
		<key>id</key>
		<string>5a6ecd1776d202fb92aee0bd</string>
		<key>img</key>
		<string>http://app1.showapi.com/hospital/20180129/e7808f51-7d58-45ca-ba7f-7be731f43439.jpg</string>
		<key>info</key>
		<string>    北京市朝阳区豆各庄医院是一家国营性质的一级甲等医保定点综合医院，于2002年建立，位于北京市朝阳区豆各庄乡。</string>
		<key>keshi</key>
		<string>内科;外科;乳腺科;妇科;儿科;口腔科;按摩科;中医科;口腔科;按摩科;中医科;</string>
		<key>level</key>
		<string>一级甲等</string>
		<key>provinceName</key>
		<string>北京市</string>
		<key>tele</key>
		<string>010-67384620</string>
		<key>tsks</key>
		<string></string>
		<key>type</key>
		<string>综合医院</string>
		<key>zzjb</key>
		<string></string>
	</dict>
	<dict>
		<key>addr</key>
		<string>北京市朝阳区金盏大街2号</string>
		<key>bus</key>
		<string></string>
		<key>cityName</key>
		<string>朝阳区</string>
		<key>hosLink</key>
		<string></string>
		<key>hosName</key>
		<string>北京市朝阳区金盏医院</string>
		<key>id</key>
		<string>5a6ecd1776d202fb92aee0be</string>
		<key>img</key>
		<string>http://app1.showapi.com/hospital/20180129/f6da6666-27e0-4307-86c5-0582bd168846.jpg</string>
		<key>info</key>
		<string>    北京金盏医院风景秀丽，气候宜人，是卫生局所属的一级甲等综合医院，具有医保定点资格。门诊设有13个临床科室，并设有100张病床的精神病房。现医院正在扩建中，准备申报二级甲等资格。</string>
		<key>keshi</key>
		<string>内科;外科;妇科;中医科;口腔科;预防保健科;中医科;口腔科;预防保健科;</string>
		<key>level</key>
		<string>一级甲等</string>
		<key>provinceName</key>
		<string>北京市</string>
		<key>tele</key>
		<string>010-84333273</string>
		<key>tsks</key>
		<string></string>
		<key>type</key>
		<string>综合医院</string>
		<key>zzjb</key>
		<string></string>
	</dict>
</array>
</plist>
